*{
     font-family: 'Inter';
}

:root{
    --button-bg-color: black;
    --button-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --button-text-color: white;
    --button-border-radius: 5px;
    --button-padding: 10px 10px;
    --button-width: 115px;
    --button-text-decoration: none;
}

body{
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Inter';
    src: url(material/Inter.ttf);
    font-weight: normal;
    font-style: normal;
}

nav{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    margin: 0 20px;
    /*stickyyyy*/
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    font-size: 15px;
}

nav a{
    text-decoration: none;
    color: #050505;
    padding: 5px 10px;
}

.brand{
    width: 100px;
    margin-left: 10px;
    margin-right: 20px;
}

#nav-left, #nav-right{
    display: flex;
    gap: 5px;
}

.nav-divider{
    border-right: 1px solid lightblue;
    height: 20px;
    margin: 0 10px;
    align-self: center;
}

.black-button1{
    background-color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 5px;
}

nav a:hover{
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
   
}

.black-button1:hover{
    background-color: #1f1f1f;
    box-shadow: 0px 6px 10px rgb(0, 0, 0, 0.15);
    cursor: pointer;
}

.hamburger{
    display: none;
}

#main{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 50px 10px;
}

.black-button{
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: var(--button-border-radius);
    text-decoration: var(--button-text-decoration);
    padding: var(--button-padding);
    box-shadow: var(--button-box-shadow);
    width: var(--button-width);
}

.black-button:hover{
    background-color: #1f1f1f;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.together{
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0;
}

.teams-hero{
    height: 300px;
    max-width: 100%;
    object-fit: contain;
}

#companys{
    padding: 20px;
    margin: 40px 0;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

#logo-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.company-logo{
    max-width: 120px;
    object-fit: contain;
}

.info-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.left-aligned{
    max-width: 490px;
}

.centered-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered-content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-page{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    border-radius: 5px;
}

.face-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.face-info img{
    width: 40px;
}

.text-info {
    display: block;
}

.text-info p{
    margin: 0;
    line-height: 1.6;
}

.last-face-info{
    border-bottom: 1px solid gray;
    padding-bottom: 100px;
}

#free-section{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    max-width: 667px;
    margin-bottom: 50px;
}

.centered-text-section{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 43px;
}

.centered-text-section h1{
    line-height: 1;
    margin: 0;
}

.free-plan p{
    padding: 0 60px;
}

#plan-section{
    background-color: #e5e5e5;
    margin-top: 70px;
    border-radius: 5px;
    padding: 20px 30px;
}

.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.last-feature{
    border-bottom: none;
}

.feature img{
    height: 15px;
}

#solve-problems-section{
    border-top: 1px solid gray;
    margin-top: 70px;
    padding-top: 80px;
}

#grid-work-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-bottom: 80px;
}

.work-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid gray;
    padding-right: 25px;
}

.black-underline{
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}

.work-section a:hover{
    color: blue;
    cursor: pointer;
}

.last-work-section{
    border-right: none;
}

#last-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.rating-section{
    display: flex;
    gap: 10px;
    padding: 50px 10px;
    max-width: 100%;
}

.rating-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating-info p{
    margin: 0;
}

.badges{
    height: 200px;
    object-fit: contain;
}

.grid-percantage-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 80px;
}

.percentage-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid gray;
}

.percentage-section p{
    margin: 0;
}

.last-percentage-section{
    border-right: none;
}

footer{
    border-top: 1px solid gray;
    padding-top: 70px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

#footer-section{
    width: 1200px;
    display: flex;
    gap: 57px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.share-divider{
    display: flex;
    flex-direction: column;
    gap: 50px;    
}

.share-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last-brand{
    width: 180px;
}

.social-section{
    display: flex;
    gap: 15px;
}

.social-section img{
    height: 30px;
    width: 30px;
}

#grid-footer-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a{
    text-decoration: none;
    color: black;
}

.footer-links a:hover{
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
}

@media (max-width: 600px) {

    /*Ta bort allt som inte behövs i nav*/
    nav{
        position: relative;
        border-bottom: none;
        margin-left: 10px;
    }

    #nav-right{
        align-items: center;
    }

    .nav-divider{
        display: none;
    }

    .hamburger{
        display: block;
        height: 20px;
        padding: 5px;
    }

    .hamburger:hover{
        background-color: lightgray;
        cursor: pointer;
    }

    #nav-left a, #nav-right a{
        display: none;
    }



   #main{
        padding: 0 30px;
    }
    
    /*Hero section*/
    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-info{
        align-items: center;
    }

    /* Companys section*/
    #companys{
        padding: 10px 10px;
    }

    #logo-wrapper{
        padding: 20px 0;
    }

    .company-logo{
        max-width: 100px;
    }

    /*Info section*/
    .info-section
    .left-aligned{
        text-align: center;
    }


    .centered-content h1{
        font-size: 27px;
    }

    #grid-work-section,
    .rating-section,
    .grid-percantage-section{
        display: flex;
        flex-direction: column;
    }

    .percentage-section,
    .work-section{
        border-right: none;
    }

    #footer-section{
        flex-direction: column;
    }

    .share-divider{
        gap: 0;

    }

    .share-section{
        gap: 30px;
    }

    .footer-info p{
        margin: 30px 0;
    }

    #grid-footer-section{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
    