*{
     font-family: 'Inter'; 
}

body{
    margin: 0;
}

@font-face {
    font-family: 'Inter';
    src: url(material/Inter.ttf);
    font-weight: normal;
    font-style: normal;
}

nav{
    padding: 20px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid gray;
    margin: 0 20px;
    /*stickyyyy*/
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    color: #050505;
    padding: 5px 5px;
}

#brand{
    width: 100px;
    margin-left: 10px;
}

#nav-left, #nav-right{
    display: flex;
    gap: 5px;
}

.demo{
    border-right: solid 1px lightblue;
    padding-right: 20px;
    height: 15px;
}

.black-button{
    background-color: black;
    color: white;
    border-radius: 5px;
}

nav a:hover{
    background-color: #f4f4f4;
    border-radius: 5px;
}

.black-button:hover{
    background-color: #1f1f1f;
}
